DATABASE_URL="file:./data/app.db"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
APP_NAME="Арт-центр Чудо"
AUTH_COOKIE_NAME="ac_session"
AUTH_SECRET="change_me_long_random_secret"
SEED_ADMIN_LOGIN="admin"
SEED_ADMIN_PASSWORD="admin12345"
SMTP_HOST="smtp.yandex.ru"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER="yustriada@yandex.ru"
SMTP_PASS="change_me"
SMTP_FROM="Арт-центр Чудо <yustriada@yandex.ru>"
VK_GROUP_DOMAIN="artchudovn"
VK_ACCESS_TOKEN=""
VK_API_VERSION="5.199"
